<div id="id{{ card.cardid }}"
  {% if deckid %}
  order="{{ get_order(card.cardid, deckid) }}"
  {% endif %}
  class="note-card">
  <form hx-put="/cse/{{card.cardid}}" hx-target="#id{{card.cardid}}">
  <header class="card-header">
    <input class="edit-s-title {% if not deckid %}hidden{% endif %}" value="{{ card.name }}" name="name">
    <div class="card-meta" style="">
      {{ card.isoformat() }}
      |
      <a href="/c/{{ card.cardid }}">/c/{{ card.cardid }}</a>
    </div>
    <button
      type="submit"
      class="header-button"
      id="{{ card.cardid }}-save">Save</button>
  </header>
  <div class="card-edit">
    {% include "textbox.html" %}
  </div>
  </form>
</div>
