<div id="id{{ card.cardid }}"
  {% if deckid %}
  order="{{ get_order(card.cardid, deckid) }}"
  {% endif %}
  x-data="{content: ''}"
  class="note-card">
  <form hx-put="/cse/{{card.cardid}}"
    hx-target="#id{{card.cardid}}"
    hx-swap="outerHTML"
    @submit="content = document.getElementById('{{card.cardid}}box').innerText">
  <header class="card-header">
    <input class="no-search edit-s-title {% if not deckid %}hidden{% endif %}" value="{{ card.name }}" name="name">
    <div class="card-meta" style="">
      {{ card.isoformat() }}
      |
      <a href="/c/{{ card.cardid }}">/c/{{ card.cardid }}</a>
    </div>
    <button
      type="submit"
      class="header-button"
      id="{{ card.cardid }}-save">Save</button>
  </header>
  {% if error %}
  <div class="error">{{ error}}</div>
  {% endif %}
  <div class="card-edit" >
    <textarea name="content" x-model="content" style="display:none"></textarea>
    {% include "textbox.html" %}
  </div>
  </form>
</div>
