<div
  id="id{{ card.cardid }}"
  x-init="$nextTick(() => {renderMathInElement(document.body, {
    delimiters: [
      {left: '$$', right: '$$', display: true},
      {left: '$', right: '$', display: false},
      {left: '\\(', right: '\\)', display: false},
      {left: '\\begin{equation}', right: '\\end{equation}', display: true},
      {left: '\\begin{align}', right: '\\end{align}', display: true},
      {left: '\\begin{alignat}', right: '\\end{alignat}', display: true},
      {left: '\\begin{gather}', right: '\\end{gather}', display: true},
      {left: '\\begin{CD}', right: '\\end{CD}', display: true},
      {left: '\\[', right: '\\]', display: true}
    ],
    });
    })
    console.log('rendering katex');
    const wikilinks = document.querySelectorAll('#id{{card.cardid}} .wikilink');
    wikilinks.forEach(async link => {p = await fetch('/card-preview/'+link.href.split('/')[4]).then(r=>r.text());
      const preview = document.createElement('div')
      link.insertAdjacentElement('afterend', preview)
      preview.outerHTML = p
    })
    "
  {% if deck %}
  order="{{ get_order(card.cardid, deckid) }}"
  {% endif %}
  class="note-card">
  <header  class="card-header">
    {% if deck %}
    <h4>{{ card.name }}</h4>
    {% endif %}
    <div class="card-meta">
      {{ card.isoformat() }}
      |
      <a href="/c/{{ card.cardid }}">/c/{{ card.cardid }}</a>
    </div>
    <button hx-get="/cse/{{ card.cardid }}"
      hx-target="#id{{ card.cardid }}"
      hx-trigger="click"
      hx-swap="outerHTML"
      class="header-button">
      Edit
    </button>
    {% if deck %}
    <button
        class="header-button"
        hx-delete="/csd/{{deckid}}/{{card.cardid}}"
        hx-target="#id{{ card.cardid }}"
        hx-confirm="Are you sure you want to delete card {{card.name}}?"
        hx-swap="outerHTML">
      Delete
    </button>
    {% endif %}
  </header>
  <div class="card">
    {{ card.markdown()|safe }}
  </div>
</div>
