<div id="id{{ card.cardid }}"
  {% if deck %}
  order="{{ get_order(card.cardid, deckid) }}"
  {% endif %}
  class="note-card">
  <header  class="card-header">
    {% if deck %}
    <h4>{{ card.name }}</h4>
    {% endif %}
    <div class="card-meta">
      {{ card.isoformat() }}
      |
      <a href="/c/{{ card.cardid }}">/c/{{ card.cardid }}</a>
    </div>
    <button hx-get="/cse/{{ card.cardid }}"
      hx-target="#id{{ card.cardid }}"
      hx-trigger="click"
      class="header-button">
      Edit
    </button>
  </header>
  <div class="card">
    {{ card.markdown()|safe }}
  </div>
</div>
