{% extends "base.html" %}
{% block body %}
{% include "title-bar.html" %}
{% for deck in decks %}
  <div class="cards">
    <div class="note-card">
      <header class="card-header">
        <h4 style="margin-bottom:0 !important;margin-top:0 !important;">
          <a href="/d/{{ deck.deckid }}">
            {{ deck.name }}
          </a>
        </h4>
        <div class="card-meta">
          {{ deck.isoformat() }}
          |
          <a href="/d/{{ deck.deckid }}">/d/{{ deck.deckid }}</a>
        </div>
      </header>
    </div>
  </div>
{% endfor %}

{% endblock %}
