<div class="row">
  <h3
    {% if not card %}
    hx-get="/de/{{deckid}}"
    {% else %}
    hx-get="/ce/{{card.cardid}}"
    {% endif %}
    hx-target="this"
    hx-swap="outerHTML"
    hx-trigger="click"
    class="page-title col text-capitalize">{{title}}</h3>
  <input type="search" placeholder="Search" class="col-3"></input>
</div>

<button
  hx-post="/new-deck" hx-swap="none"
  class="">
  New Deck
</button>
<button
  {% if deck %}
  hx-post="/new-card" hx-target="#cards" hx-swap="afterbegin" class=""
  {% else %}
  hx-post="/new-card" hx-swap="none"
  {% endif %}>
  New Card
</button>

<script>console.log('hi')</script>
