:root {
  --page-pagebody: #6b6c67;
  --page-pageframe: #c3bdb4;
  --page-pagecontent: #eee;
  --page-log-border: #808080;
  --page-log-bg: #eee;
  --page-links: #0000ee;
  --page-links-visited: #6300c0;
  --page-nav-divider: #000000;
  --page-nav-meta: #535353;

  --grid-maxwidth: 950px;
  --grid-gutter: 2rem;

  --font-family-ui: Courier New;
  --font-default: #000000;
  --font-size: 1rem;

  --nav-bg: #5a5a5a;
  --nav-divider: #ffffff;
  --nav-color: #ffffff
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: var(--page-pagebody);
  font-size: var(--font-size);
  color: var(--font-default);
  font-family: var(--font-family-ui);
  margin: 0;
  padding: 0;
}


a {
  color: var(--page-links);
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 12px;
}

button {
  font-family: Arial;
}

img {
  max-width: 100%;
}

fieldset {
  border: 1px solid grey;
}

label {
  display: block;
  text-align: center;
}

input {
  display: block;
  margin: auto;
}

.card {
  padding: 5px;
  background: white;
  /* box-shadow: 0 1px 3px grey; */
  border: 1px solid grey;
}

.card-edit {
  padding: 2px;
  background: var(--page-pagecontent);
  border: 1px dashed gray;
}

.edit-s-title {
  margin-top: 12px;
  margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 0px;
  width: 50%;
}

.edit-s-select {
  margin-top: 12px;
  margin-bottom: 2px;
  margin-left: 5px;
}

.card p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.card *:first-child {
  margin-top: 0;
}

.card *:last-child  {
  margin-bottom: 0;
}

.card ul {
  padding-left: 10px;
  margin: 5px;
}

.card header > * {
  margin-top: 0;
  margin-bottom: 1rem;
}

.card-header {
  display: flex;
}

.card-header a {
  text-decoration: none;
}

.card-meta {
  align-self: end;
  margin-left: auto;
  font-size: 10px;
  font-family: Verdana;
  margin-bottom: 3px;
  color: var(--page-nav-meta)
}

.timestamp {
  align-self: end;
  margin-left: auto;
  font-size: 10px;
  color: grey;
  margin-bottom: 3px;
}

.timestamp a {
  text-decoration: none;
}

.header-button {
  align-self: end;
  margin-left: 10px;
  margin-bottom: 2px;
}

details.dropdown {
  position: relative;
  display: inline-block;
}

details.dropdown > :last-child {
  position: absolute;
  left: 0;
  white-space: nowrap;
}

.nav {
  display: flex;
  align-items: stretch;
  background-color: var(--nav-bg);
  padding: 0;
  max-width: var(--grid-maxwidth);
  margin: auto;
}

.nav a {
  color: var(--nav-color);
  font-weight: bold;
  font-family: Helvetica;
  margin: 4.5px 5px 2px 5px;
  font-size: 10px;
}

.footer {
  height: 110px;
}

.nav img {
  max-height: 3rem;
}

.nav>.container {
  display: flex;
}

.nav-center,
.nav-left,
.nav-right {
  display: flex;
  flex: 1;
}

.nav-left {
  justify-content: flex-start;
}

.nav-right {
  justify-content: flex-end;
}

.nav-center {
  justify-content: center;
}

.tag {
  display: inline-block;
  border: 1px solide lightgrey;
  text-transform: uppercase;
  color: grey;
}

.button.icon {
  display: inline-flex;
  align-items: center;
}

.button.icon-only {
  padding: 5px;
}


@media screen and (max-width: 480px) {
    .nav,
    .nav>.container {
        flex-direction: column;
    }
    .nav-center,
    .nav-left,
    .nav-right {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.container {
  max-width: var(--grid-maxwidth);
  margin: 0 auto;
  width: 100%;
  padding: 0 calc(var(--grid-gutter) / 2);
}

.page-content {
  background-color: #eee;
  max-width: 650px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid black;
}

.page-frame {
  padding-top: 7px;
  padding-bottom: 23px;
  background-color: var(--page-pageframe);
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: calc(var(--grid-gutter) / -2);
  margin-right: calc(var(--grid-gutter) / -2);
}

.row.reverse {
  flex-direction: row-reverse;
}

.col {
  flex: 1;
}

.col,
[class*=" col-"],
[class^='col-'] {
    margin: 0 calc(var(--grid-gutter) / 2) calc(var(--grid-gutter) / 2);
}

@media screen and (max-width: 599px) {
  .container {
    width: 100%;
  }

  .col,
  [class*="col-"],
  [class^="col-"] {
    flex: 0 1 100%;
    max-width: 100%;
  }
}

.col-1 {
    flex: 0 0 calc((100% / (12/1)) - var(--grid-gutter));
    max-width: calc((100% / (12/1)) - var(--grid-gutter));
}

.col-2 {
    flex: 0 0 calc((100% / (12/2)) - var(--grid-gutter));
    max-width: calc((100% / (12/2)) - var(--grid-gutter));
}

.col-3 {
    flex: 0 0 calc((100% / (12/3)) - var(--grid-gutter));
    max-width: calc((100% / (12/3)) - var(--grid-gutter));
}

.col-4 {
    flex: 0 0 calc((100% / (12/4)) - var(--grid-gutter));
    max-width: calc((100% / (12/4)) - var(--grid-gutter));
}

.col-5 {
    flex: 0 0 calc((100% / (12/5)) - var(--grid-gutter));
    max-width: calc((100% / (12/5)) - var(--grid-gutter));
}

.col-6 {
    flex: 0 0 calc((100% / (12/6)) - var(--grid-gutter));
    max-width: calc((100% / (12/6)) - var(--grid-gutter));
}

.col-7 {
    flex: 0 0 calc((100% / (12/7)) - var(--grid-gutter));
    max-width: calc((100% / (12/7)) - var(--grid-gutter));
}

.col-8 {
    flex: 0 0 calc((100% / (12/8)) - var(--grid-gutter));
    max-width: calc((100% / (12/8)) - var(--grid-gutter));
}

.col-9 {
    flex: 0 0 calc((100% / (12/9)) - var(--grid-gutter));
    max-width: calc((100% / (12/9)) - var(--grid-gutter));
}

.col-10 {
    flex: 0 0 calc((100% / (12/10)) - var(--grid-gutter));
    max-width: calc((100% / (12/10)) - var(--grid-gutter));
}

.col-11 {
    flex: 0 0 calc((100% / (12/11)) - var(--grid-gutter));
    max-width: calc((100% / (12/11)) - var(--grid-gutter));
}

.col-12 {
    flex: 0 0 calc((100% / (12/12)) - var(--grid-gutter));
    max-width: calc((100% / (12/12)) - var(--grid-gutter));
}

.hidden {
  display: none;
}
